src/html/2-factor-authentication.pug
extends components/layout

block styles

    style.
        article, p {
            line-height: 1.7;
        }

block body
    //- for content variables
    
    block vars
        - var title = "2-factor authentication"
        
            +breadcrumb([
                {name: 'Home', link: '/'},
                {name: 'Two Factor Authentication (2FA)', link: 'two-factor-authentication.html'},
            ])

    
    
    .body-content#detail
        block breadcrumbs

        .container.py-56
            .row
                .col-12.col-lg-7

                    .content.list
                        //- block detailsContent
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#what-is-it What is it?
                            p.mb-0 2FA, 2-factor authentication or 2-step verification is an extra layer of security to prove that anyone trying to gain access to an online account is who they say they are. It is an additional step beyond entering your username and password for any online account.
                        
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#why-enable-it Why should I enable it?
                            p.mb-24 Enabling 2FA on your PayPlux account comes with these benefits:
                            ol.mb-0.pl-0.ml-0
                                li Prevent unauthorised access to your Prepaid and Cash-Out Wallets
                                li Authenticate all transactions with your Prepaid Wallet
                                li Authenticate all withdrawals from your Cash-Out Wallet
                                li Authenticate transfers from your Cash-Out Wallet to your Prepaid Wallet
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-activate-it How to Activate It?
                            p.mb-0
                                | The 2FA on PayPlux works in two ways: SMS authentication or Google Authenticator. Whichever one you choose will be what you use each time you log in to PayPlux henceforth.
                                | To set up your 2FA, visit this link: 
                                a(href="https://app.payplux.com/dashboard/settings/security/" title="Login - PayPlux" target="_blank")
                                    | app.payplux.com/dashboard/settings/security
                        article.mb-72
                            h2.navy-text.text-size-24.mb-24 Activate 2FA via  Google Authenticator
                            ol.mb-0.pl-0.ml-0 
                                li Download Google Authenticator from the ​Play Store​ or ​App Store
                                li Log in to your PayPlux Account
                                li Open this link: ​
                                    a(href="https://app.payplux.com/dashboard/settings/security​" title="Login - PayPlux" target="_blank") app.payplux.com/dashboard/settings/security 
                                    | to open the Security Tab directly or visit the Settings Page and move to the Security Tab
                                li Select Google Authenticator from the options provided
                                li Scan the QR code with the Google Authenticator App and input the 6 digits displayed
                                li Your 2FA preference will be updated to Google Authenticator
                        article.mb-72
                            h2.navy-text.text-size-24.mb-24 Activate 2FA via SMS
                            ol.mb-0.pl-0.ml-0
                                li Log in to your PayPlux Account
                                li Open this link: ​
                                    a(href="https://app.payplux.com/dashboard/settings/security​" title="Login - PayPlux" target="_blank") app.payplux.com/dashboard/settings/security 
                                    | to open the Security Tab directly or visit the Settings Page and move to the Security Tab
                                li Select SMS from the options provided
                                li You will receive a verification code to your account’s default phone number
                                li Enter the code into the pop-up box to activate SMS authentication
                                li Your 2FA preference will be updated to SMS


                    //- .row
                    //-     .col-12.px-0.px-md-16
                    //-         .helpful
                    //-             .card.shadow-none.pale-grey-three-bg
                    //-                 .card-body.p-18
                    //-                     p.text-center.text-size-16.steel-text.mb-12 Did you find this article helpful?

                    //-                     .d-flex.feedback.justify-content-center
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😞
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32.mx-48 😑
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😃


                .col-12.col-lg-5.mb-lg-0
                    .row.justify-content-center.articles-and-case
                        .col-12.col-md-6.col-lg-12
                            .card.shadow-none.mb-24.pale-grey-two-bg
                                //- block sidebarContent
                                +sidebar('Two Factor Authentication (2FA)', twoFactor)
                                
                                    a.clear-blue-text.text-size-15.d-block See all articles
                            
                            .card.shadow-none.m-0.pale-grey-two-bg.d-none
                                .card-body.p-24
                                    p.mb-24.card-title.header.text-size-20.text-weight-500 Didn’t find a solution to your issue?

                                    a(href="#").btn.btn-46.clear-blue-bg.w-100.white-text.text-weight-500 Chat with a Superhero!


                                        

dist/2-factor-authentication.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="keywords" content="payplux, sell bitcoin in ghana, buy bitcoin in ghana, perfect money"/><meta name="description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:image" content="img/icons/logo.png"/><meta property="og:description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:title" content="PayPlux | Buy and Sell Bitcoin, Perfect Money in Ghana"/><meta name="theme-color" content="#ffffff"/><link rel="icon" sizes="any" type="image/png" href="img/icons/logo.png"/><title>Support - Payplux</title><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Titillium+Web:400,600,700|Work+Sans:400,500,600,700&amp;display=swap" rel="stylesheet"/><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><link href="css/support.css?v=0.0.3" rel="stylesheet"/><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><style>article, p {
    line-height: 1.7;
}
</style></head><body><div class="navigation-container position-relative navy-bg"><div class="iconic-bg w-100 h-100 position-absolute"></div><div class="navigation"><nav class="navbar navbar-expand-lg navbar-light bg-light py-24 py-lg-32"><div class="container"><a class="navbrand" href="/"><img src="img/site/white-logo.svg" alt=""/><span>Support</span></a><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation"><span class="icon-bar first"></span><span class="icon-bar second"></span><span class="icon-bar third"></span></button><div class="collapse navbar-collapse" id="nav"><ul class="navbar-nav ml-auto align-items-center pt-32 pt-md-0"><li class="nav-item pb-16 pb-md-0"><a class="nav-link d-flex align-items-center px-md-0" href="https://payplux.com"><i class="material-icons white-text mr-8 text-size-18">launch </i><span class="white-text text-size-14">Go to PayPlux.com</span></a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="/requests.html">My Requests</a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="">Logout</a></li></ul></div></div></nav><div class="search-container py-12 d-none"><div class="container pb-20"><form action="" method="method"><div class="form-group with-icon position-relative mb-0"><input class="form-control" type="search" placeholder="Search for something..."/><i class="material-icons icon">search</i></div></form></div></div></div></div><div class="pale-grey-two-bg"><div class="container"><ul class="breadcrumb-nav"><li class="item"><a class="link" href="/">Home</a></li><li class="item"><a class="active link" href="two-factor-authentication.html">Two Factor Authentication (2FA)</a></li></ul></div></div><div class="body-content" id="detail"><div class="container py-56"><div class="row"><div class="col-12 col-lg-7"><div class="content list"><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="what-is-it">What is it?</h1><p class="mb-0">2FA, 2-factor authentication or 2-step verification is an extra layer of security to prove that anyone trying to gain access to an online account is who they say they are. It is an additional step beyond entering your username and password for any online account.</p></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="why-enable-it">Why should I enable it?</h1><p class="mb-24">Enabling 2FA on your PayPlux account comes with these benefits:</p><ol class="mb-0 pl-0 ml-0"><li>Prevent unauthorised access to your Prepaid and Cash-Out Wallets</li><li>Authenticate all transactions with your Prepaid Wallet</li><li>Authenticate all withdrawals from your Cash-Out Wallet</li><li>Authenticate transfers from your Cash-Out Wallet to your Prepaid Wallet</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="how-to-activate-it">How to Activate It?</h1><p class="mb-0">The 2FA on PayPlux works in two ways: SMS authentication or Google Authenticator. Whichever one you choose will be what you use each time you log in to PayPlux henceforth.
To set up your 2FA, visit this link: <a href="https://app.payplux.com/dashboard/settings/security/" title="Login - PayPlux" target="_blank">app.payplux.com/dashboard/settings/security</a></p></article><article class="mb-72"><h2 class="navy-text text-size-24 mb-24">Activate 2FA via  Google Authenticator</h2><ol class="mb-0 pl-0 ml-0"> <li>Download Google Authenticator from the ​Play Store​ or ​App Store</li><li>Log in to your PayPlux Account</li><li>Open this link: ​<a href="https://app.payplux.com/dashboard/settings/security​" title="Login - PayPlux" target="_blank">app.payplux.com/dashboard/settings/security </a>to open the Security Tab directly or visit the Settings Page and move to the Security Tab</li><li>Select Google Authenticator from the options provided</li><li>Scan the QR code with the Google Authenticator App and input the 6 digits displayed</li><li>Your 2FA preference will be updated to Google Authenticator</li></ol></article><article class="mb-72"><h2 class="navy-text text-size-24 mb-24">Activate 2FA via SMS</h2><ol class="mb-0 pl-0 ml-0"><li>Log in to your PayPlux Account</li><li>Open this link: ​<a href="https://app.payplux.com/dashboard/settings/security​" title="Login - PayPlux" target="_blank">app.payplux.com/dashboard/settings/security </a>to open the Security Tab directly or visit the Settings Page and move to the Security Tab</li><li>Select SMS from the options provided</li><li>You will receive a verification code to your account’s default phone number</li><li>Enter the code into the pop-up box to activate SMS authentication</li><li>Your 2FA preference will be updated to SMS</li></ol></article></div></div><div class="col-12 col-lg-5 mb-lg-0"><div class="row justify-content-center articles-and-case"><div class="col-12 col-md-6 col-lg-12"><div class="card shadow-none mb-24 pale-grey-two-bg"><div class="card-body p-24"><p class="mb-24 card-title header text-size-20 text-weight-500">Two Factor Authentication (2FA) Articles</p><div class="other-articles"><a class="slate-text text-size-15 d-block mb-24" href="2-factor-authentication.html#what-is-it" style="line-height: 1.5">What is it?</a><a class="slate-text text-size-15 d-block mb-24" href="2-factor-authentication.html#why-enable-it" style="line-height: 1.5">Why should I enable it?</a><a class="slate-text text-size-15 d-block" href="2-factor-authentication.html#how-to-activate-it" style="line-height: 1.5">How to Activate It?</a></div></div></div><div class="card shadow-none m-0 pale-grey-two-bg d-none"><div class="card-body p-24"><p class="mb-24 card-title header text-size-20 text-weight-500">Didn’t find a solution to your issue?</p><a class="btn btn-46 clear-blue-bg w-100 white-text text-weight-500" href="#">Chat with a Superhero!</a></div></div></div></div></div></div></div></div><footer class="white-bg"><div class="container pt-32 pb-16 py-lg-72"><div class="row"><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><div class="items mb-24 mb-lg-0"><img class="logo mx-auto mx-lg-0 d-block mb-0" src="img/site/grey-logo.svg" alt=""/><p class="m-0 steel-text text-size-14 d-none d-lg-block">©2019 PayPlux. All Rights Reserved.</p></div></div><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><div class="items"><div class="socials d-flex justify-content-center justify-content-lg-end mb-24 mb-lg-8"><a class="social d-block" href="https://www.facebook.com/PayPlux/" target="_blank"><img src="img/icons/facebook.svg" alt=""/></a><a class="social d-block ml-24" href="https://twitter.com/PayPlux" target="_blank"><img src="img/icons/twitter.svg" alt=""/></a><a class="social d-block ml-24" href="https://www.instagram.com/payplux/" target="_blank"><img src="img/icons/instagram.svg" alt=""/></a></div><div class="links mb-20 mb-lg-0 d-flex justify-content-between d-md-block"><a class="link mx-md-16 m-lg-0" href="/">Home      </a><a class="link mx-md-16 ml-lg-32 mr-lg-0" href="https://payplux.com/privacy.html">Privacy Policy     </a></div><p class="m-0 steel-text text-size-14 d-block d-lg-none text-center">©2019 PayPlux. All Rights Reserved.</p></div></div></div></div></footer><script>window.__lc = window.__lc || {};
window.__lc.license = 5878381;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();</script></body></html>
