dist/case.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="keywords" content="payplux, sell bitcoin in ghana, buy bitcoin in ghana, perfect money"/><meta name="description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta name="robots" content="noindex"/><meta property="og:image" content="img/icons/logo.png"/><meta property="og:description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:title" content="PayPlux | Buy and Sell Bitcoin, Perfect Money in Ghana"/><meta name="theme-color" content="#ffffff"/><link rel="icon" sizes="any" type="image/png" href="img/icons/logo.png"/><title>Support - Payplux</title><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Titillium+Web:400,600,700|Work+Sans:400,500,600,700&amp;display=swap" rel="stylesheet"/><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><link href="css/support.css?v=0.0.3" rel="stylesheet"/><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script></head><body><div class="navigation-container position-relative navy-bg"><div class="iconic-bg w-100 h-100 position-absolute"></div><div class="navigation"><nav class="navbar navbar-expand-lg navbar-light bg-light py-24 py-lg-32"><div class="container"><a class="navbrand" href="/"><img src="img/site/white-logo.svg" alt=""/><span>Support</span></a><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation"><span class="icon-bar first"></span><span class="icon-bar second"></span><span class="icon-bar third"></span></button><div class="collapse navbar-collapse" id="nav"><ul class="navbar-nav ml-auto align-items-center pt-32 pt-md-0"><li class="nav-item pb-16 pb-md-0"><a class="nav-link d-flex align-items-center px-md-0" href="https://payplux.com"><i class="material-icons white-text mr-8 text-size-18">launch </i><span class="white-text text-size-14">Go to PayPlux.com</span></a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="/requests.html">My Requests</a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="">Logout</a></li></ul></div></div></nav><div class="search-container py-12 d-none"><div class="container pb-20"><form action="" method="method"><div class="form-group with-icon position-relative mb-0"><input class="form-control" type="search" placeholder="Search for something..."/><i class="material-icons icon">search</i></div></form></div></div></div></div><div class="body-content" id="case"><div class="pale-grey-two-bg"><div class="container"><ul class="breadcrumb-nav"><li class="item"><a class="link" href="/">Home</a></li><li class="item"><a class="link" href="/requests.html">My requests</a></li><li class="item"><a class="active link" href="/detail.html">Submit a request</a></li></ul></div></div><div class="container py-48"><h1 class="text-size-26 text-weight-500 header m-0">Submit a request</h1><form class="normal form mt-48" action=""><div class="form-groups row"><div class="form-group col-12 col-md-5"><label for="topic">Topic</label><select class="form-control dropdown" name="topic" id="topic"><option value="" selected="selected" disabled="disabled">Choose topic</option><option value="Getting Started">Getting Started</option><option value="Wallets">Wallets</option><option value="Accounts">Accounts</option><option value="Two Factor Authentication">Two Factor Authentication</option><option value="Manual Payments">Manual Payments</option><option value="Automated Payments">Automated Payments</option><option value="Mobile App">Mobile App</option></select></div><div class="form-group col-12 col-md-7"><label for="order-number">Order number</label><select class="form-control dropdown" name="order-number" id="order-number"><option value="" disabled="disabled">Choose Order</option><option value="" selected="selected">#713134 - $21 Bitcoin purchase (07 Jun 19 09:42 AM)</option></select></div></div><div class="form-group"><label for="subject">Subject</label><input class="form-control" type="text" placeholder="Eg. MTN Mobile Money payment not working" name="subject" id="subject"/></div><div class="form-group"><label for="description">Description</label><textarea class="form-control" id="description" name="description" rows="10" placeholder="Describe the issue you’re having"></textarea></div><div class="form-group"><div class="upload position-relative"><a class="text stretched-link" href=""><span class="clear-blue-text">Add files &nbsp;</span> or drop files here to upload</a></div><div class="lists"><a class="list" href=""><span class="clear-blue-text file">Screenshot 2019-01-09 at 3.21.31 PM</span><i class="material-icons icon">close</i></a></div></div><div class="form-group"><button class="btn btn-46 clear-blue-bg white-text w-100 text-weight-500 text-size-14" type="submit">Submit request</button></div></form></div></div><footer class="white-bg"><div class="container pt-32 pb-16 py-lg-72"><div class="row"><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><div class="items mb-24 mb-lg-0"><img class="logo mx-auto mx-lg-0 d-block mb-0" src="img/site/grey-logo.svg" alt=""/><p class="m-0 steel-text text-size-14 d-none d-lg-block">©2019 PayPlux. All Rights Reserved.</p></div></div><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><div class="items"><div class="socials d-flex justify-content-center justify-content-lg-end mb-24 mb-lg-8"><a class="social d-block" href="https://www.facebook.com/PayPlux/" target="_blank"><img src="img/icons/facebook.svg" alt=""/></a><a class="social d-block ml-24" href="https://twitter.com/PayPlux" target="_blank"><img src="img/icons/twitter.svg" alt=""/></a><a class="social d-block ml-24" href="https://www.instagram.com/payplux/" target="_blank"><img src="img/icons/instagram.svg" alt=""/></a></div><div class="links mb-20 mb-lg-0 d-flex justify-content-between d-md-block"><a class="link mx-md-16 m-lg-0" href="/">Home      </a><a class="link mx-md-16 ml-lg-32 mr-lg-0" href="https://payplux.com/privacy.html">Privacy Policy     </a></div><p class="m-0 steel-text text-size-14 d-block d-lg-none text-center">©2019 PayPlux. All Rights Reserved.</p></div></div></div></div></footer><script>window.__lc = window.__lc || {};
window.__lc.license = 5878381;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();</script></body></html>

src/html/case.pug
extends components/layout

block seo
    meta(name="robots" content="noindex")

block body
    .body-content#case
        +breadcrumb([
            {name: 'Home', link: '/'}, 
            {name: 'My requests', link: '/requests.html'},
            {name: 'Submit a request', link: '/detail.html'}
        ])

        .container.py-48
            h1.text-size-26.text-weight-500.header.m-0 Submit a request
            
            form.normal.form(action="").mt-48
                .form-groups.row
                    .form-group.col-12.col-md-5
                        label(for="topic") Topic
                        select.form-control.dropdown(name="topic")#topic
                            option(value="" selected disabled) Choose topic
                            - 
                                var topics = [ 
                                    'Getting Started',
                                    'Wallets',
                                    'Accounts', 
                                    'Two Factor Authentication',
                                    'Manual Payments',
                                    'Automated Payments',
                                    'Mobile App'
                                ]
                            each item in topics
                                option(value=item)=item
                            //- option(value="") Kweku and Leanzer (The Love Story Unfolds)
                            //- option(value="") Larry Buntus (The Lone Wolf of the night)
                            //- option(value="") Eldad and the trip to nigeria
                            //- option(value="") Melissa and the hairstyle saga
                    .form-group.col-12.col-md-7
                        label(for="order-number") Order number
                        select.form-control.dropdown(name="order-number")#order-number
                            option(value="" disabled) Choose Order
                            option(value="" selected) #713134 - $21 Bitcoin purchase (07 Jun 19 09:42 AM)

                .form-group
                    label(for="subject") Subject
                    input(type="text" placeholder="Eg. MTN Mobile Money payment not working" name="subject")#subject.form-control

                .form-group
                    label(for="description") Description
                    textarea#description.form-control(name="description" rows="10" placeholder="Describe the issue you’re having")

                .form-group
                    .upload.position-relative
                        a(href="").text.stretched-link
                            span.clear-blue-text Add files &nbsp;
                            |  or drop files here to upload

                    .lists
                        a.list(href="")
                            span.clear-blue-text.file Screenshot 2019-01-09 at 3.21.31 PM
                            i.material-icons.icon close

                .form-group
                    button(type="submit").btn.btn-46.clear-blue-bg.white-text.w-100.text-weight-500.text-size-14 Submit request
