src/html/manual-payments.pug
extends components/layout

block styles

    style.
        article, p {
            line-height: 1.7;
        }
        #detail .content i {
            position: relative;
            top: 2px;
            left: 0.7em;
        }

block body
    //- for content variables
    
    block vars
        - var title = "#"
        
            +breadcrumb([
                {name: 'Home', link: '/'},
                {name: 'Manual Payments', link: 'manualpayments.html'},
            ])

    
    
    .body-content#detail
        block breadcrumbs

        .container.py-56
            .row
                .col-12.col-lg-7

                    .content.list
                        //- block detailsContent
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#mtn-mobile-money MTN Mobile Money
                            ol.mb-0.pl-0.ml-0 
                                li Dial *170# on your MTN mobile money phone
                                li Enter 1 to select Transfer Money and press Send
                                li Enter 1 to select Mobile User and press Send
                                li Enter 2 to select Merchant and press Send
                                li Enter our Merchant mobile money number shown in your account and press send and repeat
                                li Enter the Amount and press Send
                                li Enter your Secret PIN after you have cross checked and press Send
                                li Get the MTN Transaction ID from the SMS message you receive from MTN.
                                li If you don’t receive the SMS message after 30 minutes, call MTN customer service to retrieve the Transaction ID
                                li Login to your account on 
                                    a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                                        span app.payplux.com   
                                        i.material-icons.ml-12.text-size-16 launch 
                                li Visit the order you created and add the payment details
                            
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#airteltigo AirtelTigo Money
                            ol.mb-0.pl-0.ml-0
                                li Dial *110# on your AirtelTigo Money phone
                                li Enter 5 to select Withdraw Cash and press Send
                                li Enter 1 to select from Agent and press Send
                                li Enter our Agent Code shown in your account and press Send
                                li Enter the Amount and press Send
                                li Enter your Secret PIN after you have cross checked and press Send
                                li Get the AirtelTigo Cash Transaction ID from the SMS message you receive from AirtelTigo
                                li If you don’t receive the SMS message after 30 minutes, call AirtelTigo Cash customer service to retrieve the Transaction ID
                                li Login to your account on 
                                    a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                                        span app.payplux.com   
                                            i.material-icons.ml-12.text-size-16 launch 
                                li Visit the order you created and add the payment details
                            
                            
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#airteltigo-new AirtelTigo Money 
                                small.text-weight-500 (New Procedure starting 16/03/2020)
                            ol.mb-0.pl-0.ml-0
                                li Dial *110# on your AirtelTigo Money phone
                                li Select option 4 “Pay Bills” and press send
                                li Select option 1 “Pay to Number/Nickname” and press send
                                li Enter Nickname “PAYPLUX” [case sensitive]. Please note nickname is case sensitive
                                li Enter Amount and press send 
                                li Enter reference for transaction
                                li Confirm payment with 4 digit PIN
                            
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#vodafonecash Vodafone Cash
                            ol.mb-0.pl-0.ml-0
                                li Dial *110# on your Vodafone cash phone
                                li Enter 2 to select Withdraw Cash and press Send
                                li Enter 1 to select From Agent Cash and press Send
                                li Enter our Till Number shown in your account and press Send
                                li Enter the Amount and press Send
                                li Enter 1 to Confirm and press Send
                                li Enter your Secret PIN and press Send
                                li Get the Vodafone Cash Transaction ID from the SMS message you receive from Vodafone.
                                li If you don’t receive the SMS message after 30 minutes, call Vodafone Cash customer service to retrieve the Transaction ID
                                li Login to your account on 
                                    a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                                            span app.payplux.com   
                                            i.material-icons.ml-12.text-size-16 launch 
                                
                                li Visit the order you created and add the payment details

                    //- .row
                    //-     .col-12.px-0.px-md-16
                    //-         .helpful
                    //-             .card.shadow-none.pale-grey-three-bg
                    //-                 .card-body.p-18
                    //-                     p.text-center.text-size-16.steel-text.mb-12 Did you find this article helpful?

                    //-                     .d-flex.feedback.justify-content-center
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😞
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32.mx-48 😑
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😃


                .col-12.col-lg-5.mb-lg-0
                    .row.justify-content-center.articles-and-case
                        .col-12.col-md-6.col-lg-12
                            .card.shadow-none.mb-24.pale-grey-two-bg
                                //- block sidebarContent
                                +sidebar('Manual Payment', manualPayments)
                                
                                    a.clear-blue-text.text-size-15.d-block See all articles
                            
                            .card.shadow-none.m-0.pale-grey-two-bg.d-none
                                .card-body.p-24
                                    p.mb-24.card-title.header.text-size-20.text-weight-500 Didn’t find a solution to your issue?

                                    a(href="#").btn.btn-46.clear-blue-bg.w-100.white-text.text-weight-500 Chat with a Superhero!


                                        

dist/manual-payments.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="keywords" content="payplux, sell bitcoin in ghana, buy bitcoin in ghana, perfect money"/><meta name="description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:image" content="img/icons/logo.png"/><meta property="og:description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:title" content="PayPlux | Buy and Sell Bitcoin, Perfect Money in Ghana"/><meta name="theme-color" content="#ffffff"/><link rel="icon" sizes="any" type="image/png" href="img/icons/logo.png"/><title>Support - Payplux</title><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Titillium+Web:400,600,700|Work+Sans:400,500,600,700&amp;display=swap" rel="stylesheet"/><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><link href="css/support.css?v=0.0.3" rel="stylesheet"/><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><style>article, p {
    line-height: 1.7;
}
#detail .content i {
    position: relative;
    top: 2px;
    left: 0.7em;
}
</style></head><body><div class="navigation-container position-relative navy-bg"><div class="iconic-bg w-100 h-100 position-absolute"></div><div class="navigation"><nav class="navbar navbar-expand-lg navbar-light bg-light py-24 py-lg-32"><div class="container"><a class="navbrand" href="/"><img src="img/site/white-logo.svg" alt=""/><span>Support</span></a><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation"><span class="icon-bar first"></span><span class="icon-bar second"></span><span class="icon-bar third"></span></button><div class="collapse navbar-collapse" id="nav"><ul class="navbar-nav ml-auto align-items-center pt-32 pt-md-0"><li class="nav-item pb-16 pb-md-0"><a class="nav-link d-flex align-items-center px-md-0" href="https://payplux.com"><i class="material-icons white-text mr-8 text-size-18">launch </i><span class="white-text text-size-14">Go to PayPlux.com</span></a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="/requests.html">My Requests</a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="">Logout</a></li></ul></div></div></nav><div class="search-container py-12 d-none"><div class="container pb-20"><form action="" method="method"><div class="form-group with-icon position-relative mb-0"><input class="form-control" type="search" placeholder="Search for something..."/><i class="material-icons icon">search</i></div></form></div></div></div></div><div class="pale-grey-two-bg"><div class="container"><ul class="breadcrumb-nav"><li class="item"><a class="link" href="/">Home</a></li><li class="item"><a class="active link" href="manualpayments.html">Manual Payments</a></li></ul></div></div><div class="body-content" id="detail"><div class="container py-56"><div class="row"><div class="col-12 col-lg-7"><div class="content list"><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="mtn-mobile-money">MTN Mobile Money</h1><ol class="mb-0 pl-0 ml-0"> <li>Dial *170# on your MTN mobile money phone</li><li>Enter 1 to select Transfer Money and press Send</li><li>Enter 1 to select Mobile User and press Send</li><li>Enter 2 to select Merchant and press Send</li><li>Enter our Merchant mobile money number shown in your account and press send and repeat</li><li>Enter the Amount and press Send</li><li>Enter your Secret PIN after you have cross checked and press Send</li><li>Get the MTN Transaction ID from the SMS message you receive from MTN.</li><li>If you don’t receive the SMS message after 30 minutes, call MTN customer service to retrieve the Transaction ID</li><li>Login to your account on <a href="https://app.payplux.com" title="Login | PayPlux" target="_blank"><span>app.payplux.com   </span><i class="material-icons ml-12 text-size-16">launch </i></a></li><li>Visit the order you created and add the payment details</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="airteltigo">AirtelTigo Money</h1><ol class="mb-0 pl-0 ml-0"><li>Dial *110# on your AirtelTigo Money phone</li><li>Enter 5 to select Withdraw Cash and press Send</li><li>Enter 1 to select from Agent and press Send</li><li>Enter our Agent Code shown in your account and press Send</li><li>Enter the Amount and press Send</li><li>Enter your Secret PIN after you have cross checked and press Send</li><li>Get the AirtelTigo Cash Transaction ID from the SMS message you receive from AirtelTigo</li><li>If you don’t receive the SMS message after 30 minutes, call AirtelTigo Cash customer service to retrieve the Transaction ID</li><li>Login to your account on <a href="https://app.payplux.com" title="Login | PayPlux" target="_blank"><span>app.payplux.com   <i class="material-icons ml-12 text-size-16">launch </i></span></a></li><li>Visit the order you created and add the payment details</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="airteltigo-new">AirtelTigo Money <small class="text-weight-500">(New Procedure starting 16/03/2020)</small></h1><ol class="mb-0 pl-0 ml-0"><li>Dial *110# on your AirtelTigo Money phone</li><li>Select option 4 “Pay Bills” and press send</li><li>Select option 1 “Pay to Number/Nickname” and press send</li><li>Enter Nickname “PAYPLUX” [case sensitive]. Please note nickname is case sensitive</li><li>Enter Amount and press send </li><li>Enter reference for transaction</li><li>Confirm payment with 4 digit PIN</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="vodafonecash">Vodafone Cash</h1><ol class="mb-0 pl-0 ml-0"><li>Dial *110# on your Vodafone cash phone</li><li>Enter 2 to select Withdraw Cash and press Send</li><li>Enter 1 to select From Agent Cash and press Send</li><li>Enter our Till Number shown in your account and press Send</li><li>Enter the Amount and press Send</li><li>Enter 1 to Confirm and press Send</li><li>Enter your Secret PIN and press Send</li><li>Get the Vodafone Cash Transaction ID from the SMS message you receive from Vodafone.</li><li>If you don’t receive the SMS message after 30 minutes, call Vodafone Cash customer service to retrieve the Transaction ID</li><li>Login to your account on <a href="https://app.payplux.com" title="Login | PayPlux" target="_blank"><span>app.payplux.com   </span><i class="material-icons ml-12 text-size-16">launch </i></a></li><li>Visit the order you created and add the payment details</li></ol></article></div></div><div class="col-12 col-lg-5 mb-lg-0"><div class="row justify-content-center articles-and-case"><div class="col-12 col-md-6 col-lg-12"><div class="card shadow-none mb-24 pale-grey-two-bg"><div class="card-body p-24"><p class="mb-24 card-title header text-size-20 text-weight-500">Manual Payment Articles</p><div class="other-articles"><a class="slate-text text-size-15 d-block mb-24" href="manual-payments.html#mtn-mobile-money" style="line-height: 1.5">MTN Mobile Money</a><a class="slate-text text-size-15 d-block mb-24" href="manual-payments.html#airteltigo" style="line-height: 1.5">AirtelTigo Money</a><a class="slate-text text-size-15 d-block mb-24" href="manual-payments.html#airteltigo-new" style="line-height: 1.5">AirtelTigo Money (New Procedure starting 16/03/2020)</a><a class="slate-text text-size-15 d-block" href="manual-payments.html#vodafonecash" style="line-height: 1.5">Vodafone Cash</a></div></div></div><div class="card shadow-none m-0 pale-grey-two-bg d-none"><div class="card-body p-24"><p class="mb-24 card-title header text-size-20 text-weight-500">Didn’t find a solution to your issue?</p><a class="btn btn-46 clear-blue-bg w-100 white-text text-weight-500" href="#">Chat with a Superhero!</a></div></div></div></div></div></div></div></div><footer class="white-bg"><div class="container pt-32 pb-16 py-lg-72"><div class="row"><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><div class="items mb-24 mb-lg-0"><img class="logo mx-auto mx-lg-0 d-block mb-0" src="img/site/grey-logo.svg" alt=""/><p class="m-0 steel-text text-size-14 d-none d-lg-block">©2019 PayPlux. All Rights Reserved.</p></div></div><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><div class="items"><div class="socials d-flex justify-content-center justify-content-lg-end mb-24 mb-lg-8"><a class="social d-block" href="https://www.facebook.com/PayPlux/" target="_blank"><img src="img/icons/facebook.svg" alt=""/></a><a class="social d-block ml-24" href="https://twitter.com/PayPlux" target="_blank"><img src="img/icons/twitter.svg" alt=""/></a><a class="social d-block ml-24" href="https://www.instagram.com/payplux/" target="_blank"><img src="img/icons/instagram.svg" alt=""/></a></div><div class="links mb-20 mb-lg-0 d-flex justify-content-between d-md-block"><a class="link mx-md-16 m-lg-0" href="/">Home      </a><a class="link mx-md-16 ml-lg-32 mr-lg-0" href="https://payplux.com/privacy.html">Privacy Policy     </a></div><p class="m-0 steel-text text-size-14 d-block d-lg-none text-center">©2019 PayPlux. All Rights Reserved.</p></div></div></div></div></footer><script>window.__lc = window.__lc || {};
window.__lc.license = 5878381;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();</script></body></html>
