dist/mobile-app.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="keywords" content="payplux, sell bitcoin in ghana, buy bitcoin in ghana, perfect money"/><meta name="description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:image" content="img/icons/logo.png"/><meta property="og:description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:title" content="PayPlux | Buy and Sell Bitcoin, Perfect Money in Ghana"/><meta name="theme-color" content="#ffffff"/><link rel="icon" sizes="any" type="image/png" href="img/icons/logo.png"/><title>Support - Payplux</title><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Titillium+Web:400,600,700|Work+Sans:400,500,600,700&amp;display=swap" rel="stylesheet"/><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><link href="css/support.css?v=0.0.3" rel="stylesheet"/><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><style>article, p {
    line-height: 1.7;
}
</style></head><body><div class="navigation-container position-relative navy-bg"><div class="iconic-bg w-100 h-100 position-absolute"></div><div class="navigation"><nav class="navbar navbar-expand-lg navbar-light bg-light py-24 py-lg-32"><div class="container"><a class="navbrand" href="/"><img src="img/site/white-logo.svg" alt=""/><span>Support</span></a><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation"><span class="icon-bar first"></span><span class="icon-bar second"></span><span class="icon-bar third"></span></button><div class="collapse navbar-collapse" id="nav"><ul class="navbar-nav ml-auto align-items-center pt-32 pt-md-0"><li class="nav-item pb-16 pb-md-0"><a class="nav-link d-flex align-items-center px-md-0" href="https://payplux.com"><i class="material-icons white-text mr-8 text-size-18">launch </i><span class="white-text text-size-14">Go to PayPlux.com</span></a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="/requests.html">My Requests</a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="">Logout</a></li></ul></div></div></nav><div class="search-container py-12 d-none"><div class="container pb-20"><form action="" method="method"><div class="form-group with-icon position-relative mb-0"><input class="form-control" type="search" placeholder="Search for something..."/><i class="material-icons icon">search</i></div></form></div></div></div></div><div class="pale-grey-two-bg"><div class="container"><ul class="breadcrumb-nav"><li class="item"><a class="link" href="/">Home</a></li><li class="item"><a class="active link" href="#">Mobile  App</a></li></ul></div></div><div class="body-content" id="detail"><div class="container py-56"><div class="row"><div class="col-12 col-lg-7"><div class="content list"><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="how-to-verify-my-phone-number-when-using-app">How do I verify my phone number when using the mobile app?</h1><ol class="mb-0 pl-0 ml-0"><li>Once logged in, locate the settings tab and click on ‘Settings’ </li><li>Under the ‘My Profile’ menu, locate the default phone number section</li><li>Type in the preferred phone number to verify</li><li>Click ‘Resend verification SMS’</li><li>Enter the verification code received to complete the process.</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="how-to-add-new-mobile-money-number">How do I add a new mobile money number for transactions?</h1><ol class="mb-0 pl-0 ml-0"><li>Once logged in, locate the settings tab and click on ‘Settings’ </li><li>From the menu, click on ‘Mobile Numbers’</li><li>Click ‘Add a new mobile number’ from the menu</li><li>Select the preferred network, account type and fill in the boxes with details of the mobile money number and the name on the mobile money number</li><li>Upon completion, click ‘Add Number’.</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="how-to-verify-my-email">How do I verify my email when using the mobile app?</h1><ol class="mb-0 pl-0 ml-0"><li>Once logged in, locate the settings tab and click on ‘Settings’ </li><li>Under the ‘My Profile’ menu, navigate to the mail section </li><li>Type in the preferred email to verify </li><li>Click ‘Resend verification email’</li><li>Check your inbox for the verification email</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="how-to-change-my-password">How do I change my password?</h1><ol class="mb-0 pl-0 ml-0"><li>Once logged in, locate the ‘Settings’ tab and click on ‘Settings’ </li><li>Click on the ’Security’ tab</li><li>Locate the Change password part</li><li>Fill in the necessary details and the new password as well </li><li>Click on the ‘Change Password’ button to successfully change your password </li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="how-to-enable-2FA">How do I enable second-factor authentication?</h1><ol class="mb-0 pl-0 ml-0"><li>Once logged in, locate the ‘Settings’ tab and click on ‘Settings’ </li><li>Click on the ’Security’ tab</li><li>Navigate to “2-Factor Authentication“</li><li>Enable the second-factor authentication by opting for SMS or Google Authenticator </li><li>If the option of SMS is selected, a verification code will be sent to the designated phone number  </li><li>If the option of Google Authenticator is selected, a popup menu will appear with a procedure to follow. </li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="how-to-view-transaction-history">How do I view my transaction history?</h1><ol class="mb-0 pl-0 ml-0"><li>Once logged in, locate the ‘Wallets’ tab and click on ‘Wallets’ </li><li>On the right side of the menu, you can view your income and expenditure with their corresponding timelines.</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="how-to-view-buy-sell-orders">How do I view my buy and sell orders? </h1><ol class="mb-0 pl-0 ml-0"><li>Once logged in, locate ‘My Orders’ tab and click on ‘My Orders’</li><li>You can view your buy orders or click on ‘Sell Orders’ to view your sell orders too</li></ol></article><article class="mb-72"><h1 class="navy-text text-size-24 mb-24" id="why-the-payplux-app-requests-special-permissions">Why does the PayPlux mobile app request special permissions?</h1><p class="mb-24">To fully experience all the features the PayPlux mobile app has to offer, it is essential to grant the app permission on your Android device. Below is a list of what permissions are requested and their purposes.</p><ol class="mb-0 pl-0 ml-0"><li>SMS - This is to facilitate the mobile number verification and 2-factor authentication.</li><li>Camera - The camera permission allows the QR scanner to operate with fluency </li></ol></article></div></div><div class="col-12 col-lg-5 mb-lg-0"><div class="row justify-content-center articles-and-case"><div class="col-12 col-md-6 col-lg-12"><div class="card shadow-none mb-24 pale-grey-two-bg"><div class="card-body p-24"><p class="mb-24 card-title header text-size-20 text-weight-500">Mobile App Articles</p><div class="other-articles"><a class="slate-text text-size-15 d-block mb-24" href="mobile-app.html#how-to-verify-my-phone-number-when-using-app" style="line-height: 1.5">How do I verify my phone number when using the mobile app?</a><a class="slate-text text-size-15 d-block mb-24" href="mobile-app.html#how-to-add-new-mobile-money-number" style="line-height: 1.5">How do I add a new mobile money number for transactions?</a><a class="slate-text text-size-15 d-block mb-24" href="mobile-app.html#how-to-verify-my-email" style="line-height: 1.5">How do I verify my email when using the mobile app?</a><a class="slate-text text-size-15 d-block mb-24" href="mobile-app.html#how-to-change-my-password" style="line-height: 1.5">How do I change my password?</a><a class="slate-text text-size-15 d-block mb-24" href="mobile-app.html#how-to-enable-2FA" style="line-height: 1.5">How do I enable second-factor authentication?</a><a class="slate-text text-size-15 d-block mb-24" href="mobile-app.html#how-to-view-transaction-history" style="line-height: 1.5">How do I view my transaction history?</a><a class="slate-text text-size-15 d-block mb-24" href="mobile-app.html#how-to-view-buy-sell-orders" style="line-height: 1.5">How do I view my buy and sell orders?</a><a class="slate-text text-size-15 d-block" href="mobile-app.html#why-the-payplux-app-requests-special-permissions" style="line-height: 1.5">Why does the PayPlux mobile app request special permissions?</a></div></div></div><div class="card shadow-none m-0 pale-grey-two-bg d-none"><div class="card-body p-24"><p class="mb-24 card-title header text-size-20 text-weight-500">Didn’t find a solution to your issue?</p><a class="btn btn-46 clear-blue-bg w-100 white-text text-weight-500" href="#">Chat with a Superhero!</a></div></div></div></div></div></div></div></div><footer class="white-bg"><div class="container pt-32 pb-16 py-lg-72"><div class="row"><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><div class="items mb-24 mb-lg-0"><img class="logo mx-auto mx-lg-0 d-block mb-0" src="img/site/grey-logo.svg" alt=""/><p class="m-0 steel-text text-size-14 d-none d-lg-block">©2019 PayPlux. All Rights Reserved.</p></div></div><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><div class="items"><div class="socials d-flex justify-content-center justify-content-lg-end mb-24 mb-lg-8"><a class="social d-block" href="https://www.facebook.com/PayPlux/" target="_blank"><img src="img/icons/facebook.svg" alt=""/></a><a class="social d-block ml-24" href="https://twitter.com/PayPlux" target="_blank"><img src="img/icons/twitter.svg" alt=""/></a><a class="social d-block ml-24" href="https://www.instagram.com/payplux/" target="_blank"><img src="img/icons/instagram.svg" alt=""/></a></div><div class="links mb-20 mb-lg-0 d-flex justify-content-between d-md-block"><a class="link mx-md-16 m-lg-0" href="/">Home      </a><a class="link mx-md-16 ml-lg-32 mr-lg-0" href="https://payplux.com/privacy.html">Privacy Policy     </a></div><p class="m-0 steel-text text-size-14 d-block d-lg-none text-center">©2019 PayPlux. All Rights Reserved.</p></div></div></div></div></footer><script>window.__lc = window.__lc || {};
window.__lc.license = 5878381;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();</script></body></html>

src/html/mobile-app.pug
extends components/layout

block styles

    style.
        article, p {
            line-height: 1.7;
        }

block body
    //- for content variables
    
    block vars
        - var title = "Mobile  App"
        
            +breadcrumb([
                {name: 'Home', link: '/'},
                {name: 'Mobile  App', link: '#'},
            ])

    
    
    .body-content#detail
        block breadcrumbs

        .container.py-56
            .row
                .col-12.col-lg-7

                    .content.list
                        //- block detailsContent
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-verify-my-phone-number-when-using-app How do I verify my phone number when using the mobile app?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the settings tab and click on ‘Settings’ 
                                li Under the ‘My Profile’ menu, locate the default phone number section
                                li Type in the preferred phone number to verify
                                li Click ‘Resend verification SMS’
                                li Enter the verification code received to complete the process.


                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-add-new-mobile-money-number How do I add a new mobile money number for transactions?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the settings tab and click on ‘Settings’ 
                                li From the menu, click on ‘Mobile Numbers’
                                li Click ‘Add a new mobile number’ from the menu
                                li Select the preferred network, account type and fill in the boxes with details of the mobile money number and the name on the mobile money number
                                li Upon completion, click ‘Add Number’.

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-verify-my-email How do I verify my email when using the mobile app?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the settings tab and click on ‘Settings’ 
                                li Under the ‘My Profile’ menu, navigate to the mail section 
                                li Type in the preferred email to verify 
                                li Click ‘Resend verification email’
                                li Check your inbox for the verification email

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-change-my-password How do I change my password?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the ‘Settings’ tab and click on ‘Settings’ 
                                li Click on the ’Security’ tab
                                li Locate the Change password part
                                li Fill in the necessary details and the new password as well 
                                li Click on the ‘Change Password’ button to successfully change your password 

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-enable-2FA How do I enable second-factor authentication?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the ‘Settings’ tab and click on ‘Settings’ 
                                li Click on the ’Security’ tab
                                li Navigate to “2-Factor Authentication“
                                li Enable the second-factor authentication by opting for SMS or Google Authenticator 
                                li If the option of SMS is selected, a verification code will be sent to the designated phone number  
                                li If the option of Google Authenticator is selected, a popup menu will appear with a procedure to follow. 

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-view-transaction-history How do I view my transaction history?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the ‘Wallets’ tab and click on ‘Wallets’ 
                                li On the right side of the menu, you can view your income and expenditure with their corresponding timelines.

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-view-buy-sell-orders How do I view my buy and sell orders? 
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate ‘My Orders’ tab and click on ‘My Orders’
                                li You can view your buy orders or click on ‘Sell Orders’ to view your sell orders too


                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#why-the-payplux-app-requests-special-permissions Why does the PayPlux mobile app request special permissions?
                            p.mb-24 To fully experience all the features the PayPlux mobile app has to offer, it is essential to grant the app permission on your Android device. Below is a list of what permissions are requested and their purposes.
                            ol.mb-0.pl-0.ml-0
                                li SMS - This is to facilitate the mobile number verification and 2-factor authentication.
                                li Camera - The camera permission allows the QR scanner to operate with fluency 

                    //- .row
                    //-     .col-12.px-0.px-md-16
                    //-         .helpful
                    //-             .card.shadow-none.pale-grey-three-bg
                    //-                 .card-body.p-18
                    //-                     p.text-center.text-size-16.steel-text.mb-12 Did you find this article helpful?

                    //-                     .d-flex.feedback.justify-content-center
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😞
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32.mx-48 😑
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😃


                .col-12.col-lg-5.mb-lg-0
                    .row.justify-content-center.articles-and-case
                        .col-12.col-md-6.col-lg-12
                            .card.shadow-none.mb-24.pale-grey-two-bg
                                //- block sidebarContent
                                +sidebar('Mobile App', mobileApp)
                                
                                    a.clear-blue-text.text-size-15.d-block See all articles
                            
                            .card.shadow-none.m-0.pale-grey-two-bg.d-none
                                .card-body.p-24
                                    p.mb-24.card-title.header.text-size-20.text-weight-500 Didn’t find a solution to your issue?

                                    a(href="#").btn.btn-46.clear-blue-bg.w-100.white-text.text-weight-500 Chat with a Superhero!


                                        
