src/html/request.pug
extends components/layout

block seo
    meta(name="robots" content="noindex")

block body
    .body-content#request
        +breadcrumb([
            {name: "Home", link: "/index.html"},
            {name: "Requests", link: "/requests.html"},
            {name: "#712321", link: "/request.html"}
        ])

        .container.py-48.px-0.px-md-16
            .card
                .card-body.p-0
                    .heading.py-24.px-16.px-md-24
                        p.text-size-12.text-weight-500.text-uppercase.mb-8  REQUEST ID #712321
                            span.chip.ml-8(class= "error") opened
                        h2.text-size-26.text-weight-500.m-0 MTN Mobile Money payment not working

                    form.normal.form.px-16.px-md-24(action="")
                        .content
                            .row.justify-content-center
                                .col-12.col-md-8
                                    .form-group
                                        textarea.form-control(name="", rows="5", placeholder="Your response here…")
                                    
                                    .form-group.mb-64
                                        .upload.position-relative
                                            a(href="").text.stretched-link
                                                span.clear-blue-text Add files &nbsp;
                                                |  or drop files here to upload

                                    .form-group.m-0
                                        button(type="submit").btn.btn-46.clear-blue-bg.white-text.text-size-14.text-weight-500.w-100 Submit request

                    .messages.py-36.py-md-48.px-16.px-md-24
                        .message.self
                            .message-body
                                .message-content
                                    span.time You • 14th July 2019 - 02:35 PM
                                    .content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .user-initials BA
                        
                        .message.other
                            .message-body
                                .message-content
                                    span.time You • 14th July 2019 - 02:35 PM
                                    .content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .user-initials BA


                    

dist/request.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="keywords" content="payplux, sell bitcoin in ghana, buy bitcoin in ghana, perfect money"/><meta name="description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta name="robots" content="noindex"/><meta property="og:image" content="img/icons/logo.png"/><meta property="og:description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:title" content="PayPlux | Buy and Sell Bitcoin, Perfect Money in Ghana"/><meta name="theme-color" content="#ffffff"/><link rel="icon" sizes="any" type="image/png" href="img/icons/logo.png"/><title>Support - Payplux</title><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Titillium+Web:400,600,700|Work+Sans:400,500,600,700&amp;display=swap" rel="stylesheet"/><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><link href="css/support.css?v=0.0.3" rel="stylesheet"/><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script></head><body><div class="navigation-container position-relative navy-bg"><div class="iconic-bg w-100 h-100 position-absolute"></div><div class="navigation"><nav class="navbar navbar-expand-lg navbar-light bg-light py-24 py-lg-32"><div class="container"><a class="navbrand" href="/"><img src="img/site/white-logo.svg" alt=""/><span>Support</span></a><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation"><span class="icon-bar first"></span><span class="icon-bar second"></span><span class="icon-bar third"></span></button><div class="collapse navbar-collapse" id="nav"><ul class="navbar-nav ml-auto align-items-center pt-32 pt-md-0"><li class="nav-item pb-16 pb-md-0"><a class="nav-link d-flex align-items-center px-md-0" href="https://payplux.com"><i class="material-icons white-text mr-8 text-size-18">launch </i><span class="white-text text-size-14">Go to PayPlux.com</span></a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="/requests.html">My Requests</a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="">Logout</a></li></ul></div></div></nav><div class="search-container py-12 d-none"><div class="container pb-20"><form action="" method="method"><div class="form-group with-icon position-relative mb-0"><input class="form-control" type="search" placeholder="Search for something..."/><i class="material-icons icon">search</i></div></form></div></div></div></div><div class="body-content" id="request"><div class="pale-grey-two-bg"><div class="container"><ul class="breadcrumb-nav"><li class="item"><a class="link" href="/index.html">Home</a></li><li class="item"><a class="link" href="/requests.html">Requests</a></li><li class="item"><a class="active link" href="/request.html">#712321</a></li></ul></div></div><div class="container py-48 px-0 px-md-16"><div class="card"><div class="card-body p-0"><div class="heading py-24 px-16 px-md-24"><p class="text-size-12 text-weight-500 text-uppercase mb-8"> REQUEST ID #712321<span class="chip ml-8 error">opened</span></p><h2 class="text-size-26 text-weight-500 m-0">MTN Mobile Money payment not working</h2></div><form class="normal form px-16 px-md-24" action=""><div class="content"><div class="row justify-content-center"><div class="col-12 col-md-8"><div class="form-group"><textarea class="form-control" name="" rows="5" placeholder="Your response here…"></textarea></div><div class="form-group mb-64"><div class="upload position-relative"><a class="text stretched-link" href=""><span class="clear-blue-text">Add files &nbsp;</span> or drop files here to upload</a></div></div><div class="form-group m-0"><button class="btn btn-46 clear-blue-bg white-text text-size-14 text-weight-500 w-100" type="submit">Submit request</button></div></div></div></div></form><div class="messages py-36 py-md-48 px-16 px-md-24"><div class="message self"><div class="message-body"><div class="message-content"><span class="time">You • 14th July 2019 - 02:35 PM</span><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div><div class="user-initials">BA</div></div></div><div class="message other"><div class="message-body"><div class="message-content"><span class="time">You • 14th July 2019 - 02:35 PM</span><div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div><div class="user-initials">BA</div></div></div></div></div></div></div></div><footer class="white-bg"><div class="container pt-32 pb-16 py-lg-72"><div class="row"><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><div class="items mb-24 mb-lg-0"><img class="logo mx-auto mx-lg-0 d-block mb-0" src="img/site/grey-logo.svg" alt=""/><p class="m-0 steel-text text-size-14 d-none d-lg-block">©2019 PayPlux. All Rights Reserved.</p></div></div><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><div class="items"><div class="socials d-flex justify-content-center justify-content-lg-end mb-24 mb-lg-8"><a class="social d-block" href="https://www.facebook.com/PayPlux/" target="_blank"><img src="img/icons/facebook.svg" alt=""/></a><a class="social d-block ml-24" href="https://twitter.com/PayPlux" target="_blank"><img src="img/icons/twitter.svg" alt=""/></a><a class="social d-block ml-24" href="https://www.instagram.com/payplux/" target="_blank"><img src="img/icons/instagram.svg" alt=""/></a></div><div class="links mb-20 mb-lg-0 d-flex justify-content-between d-md-block"><a class="link mx-md-16 m-lg-0" href="/">Home      </a><a class="link mx-md-16 ml-lg-32 mr-lg-0" href="https://payplux.com/privacy.html">Privacy Policy     </a></div><p class="m-0 steel-text text-size-14 d-block d-lg-none text-center">©2019 PayPlux. All Rights Reserved.</p></div></div></div></div></footer><script>window.__lc = window.__lc || {};
window.__lc.license = 5878381;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();</script></body></html>
