dist/verify-phone.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><meta name="keywords" content="payplux, sell bitcoin in ghana, buy bitcoin in ghana, perfect money"/><meta name="description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta name="robots" content="noindex"/><meta property="og:image" content="img/icons/logo.png"/><meta property="og:description" content="Buy, Sell &amp; Exchange your digital currency. Get bitcoin, ethereum, litecoin &amp; non cryptos like Ripple, Perfect Money right here in Ghana."/><meta property="og:title" content="PayPlux | Buy and Sell Bitcoin, Perfect Money in Ghana"/><meta name="theme-color" content="#ffffff"/><link rel="icon" sizes="any" type="image/png" href="img/icons/logo.png"/><title>Support - Payplux</title><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Titillium+Web:400,600,700|Work+Sans:400,500,600,700&amp;display=swap" rel="stylesheet"/><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><link href="css/support.css?v=0.0.3" rel="stylesheet"/><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script></head><body><div class="navigation-container position-relative navy-bg"><div class="iconic-bg w-100 h-100 position-absolute"></div><div class="navigation"><nav class="navbar navbar-expand-lg navbar-light bg-light py-24 py-lg-32"><div class="container"><a class="navbrand" href="/"><img src="img/site/white-logo.svg" alt=""/><span>Support</span></a><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation"><span class="icon-bar first"></span><span class="icon-bar second"></span><span class="icon-bar third"></span></button><div class="collapse navbar-collapse" id="nav"><ul class="navbar-nav ml-auto align-items-center pt-32 pt-md-0"><li class="nav-item pb-16 pb-md-0"><a class="nav-link d-flex align-items-center px-md-0" href="https://payplux.com"><i class="material-icons white-text mr-8 text-size-18">launch </i><span class="white-text text-size-14">Go to PayPlux.com</span></a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="/requests.html">My Requests</a></li><li class="nav-item ml-lg-40 d-none"><a class="nav-link" href="">Logout</a></li></ul></div></div></nav><div class="search-container py-12 d-none"><div class="container pb-20"><form action="" method="method"><div class="form-group with-icon position-relative mb-0"><input class="form-control" type="search" placeholder="Search for something..."/><i class="material-icons icon">search</i></div></form></div></div></div></div><div class="pale-grey-two-bg"><div class="container"><ul class="breadcrumb-nav"><li class="item"><a class="link" href="/">Home</a></li><li class="item"><a class="link" href="accounts.html">Account, Verification &amp; Security</a></li><li class="item"><a class="active link">How to Verify Phone Number</a></li></ul></div></div><div class="body-content" id="detail"><div class="container py-56"><div class="row"><div class="col-12 col-lg-7"><h1 class="header text-size-32 text-weight-500 mb-40 mb-lg-56">How to Verify Phone Number</h1><div class="content list"><ol><li>Login to your account on <a href="https://app.payplux.com" title="Login | PayPlux" target="_blank"><span>app.payplux.com   </span><i class="material-icons ml-12 text-size-16">launch </i></a></li><li>Navigate to Settings from the Menu</li><li>Navigate to My Profile and click on Verify Phone Number or Resend Verification SMS</li><li>Enter or Select the phone number you want to verify</li><li>Click Send Code to receive an SMS with the Verification Code</li><li>Enter the Verification Code and click Verify Phone Number</li><li>Your phone number is verified now</li></ol></div></div><div class="col-12 col-lg-5 mb-lg-0"><div class="row justify-content-center articles-and-case"><div class="col-12 col-md-6 col-lg-12"><div class="card shadow-none mb-24 pale-grey-two-bg"><div class="card-body p-24"><p class="mb-24 card-title header text-size-20 text-weight-500">Account, Verification &amp; Security Articles</p><div class="other-articles"><a class="slate-text text-size-15 d-block mb-24" href="verify-id.html" style="line-height: 1.5">How to verify your ID</a><a class="slate-text text-size-15 d-block mb-24" href="verify-phone.html" style="line-height: 1.5">How to Verify Phone Number</a><a class="slate-text text-size-15 d-block mb-24" href="verify-momo.html" style="line-height: 1.5">How to Verify Mobile Money Numbers</a><a class="slate-text text-size-15 d-block" href="change-password.html" style="line-height: 1.5">How to Change Account Password</a></div></div></div><div class="card shadow-none m-0 pale-grey-two-bg d-none"><div class="card-body p-24"><p class="mb-24 card-title header text-size-20 text-weight-500">Didn’t find a solution to your issue?</p><a class="btn btn-46 clear-blue-bg w-100 white-text text-weight-500" href="#">Chat with a Superhero!</a></div></div></div></div></div></div></div></div><footer class="white-bg"><div class="container pt-32 pb-16 py-lg-72"><div class="row"><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><div class="items mb-24 mb-lg-0"><img class="logo mx-auto mx-lg-0 d-block mb-0" src="img/site/grey-logo.svg" alt=""/><p class="m-0 steel-text text-size-14 d-none d-lg-block">©2019 PayPlux. All Rights Reserved.</p></div></div><div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><div class="items"><div class="socials d-flex justify-content-center justify-content-lg-end mb-24 mb-lg-8"><a class="social d-block" href="https://www.facebook.com/PayPlux/" target="_blank"><img src="img/icons/facebook.svg" alt=""/></a><a class="social d-block ml-24" href="https://twitter.com/PayPlux" target="_blank"><img src="img/icons/twitter.svg" alt=""/></a><a class="social d-block ml-24" href="https://www.instagram.com/payplux/" target="_blank"><img src="img/icons/instagram.svg" alt=""/></a></div><div class="links mb-20 mb-lg-0 d-flex justify-content-between d-md-block"><a class="link mx-md-16 m-lg-0" href="/">Home      </a><a class="link mx-md-16 ml-lg-32 mr-lg-0" href="https://payplux.com/privacy.html">Privacy Policy     </a></div><p class="m-0 steel-text text-size-14 d-block d-lg-none text-center">©2019 PayPlux. All Rights Reserved.</p></div></div></div></div></footer><script>window.__lc = window.__lc || {};
window.__lc.license = 5878381;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();</script></body></html>

src/html/verify-phone.pug
extends detail

block vars
    - var title = "How to Verify Phone Number"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Account, Verification & Security', link: 'accounts.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Account, Verification & Security', account)

block detailsContent
    -
        var tips = [
            'Navigate to Settings from the Menu',
            'Navigate to My Profile and click on Verify Phone Number or Resend Verification SMS',
            'Enter or Select the phone number you want to verify',
            'Click Send Code to receive an SMS with the Verification Code',
            'Enter the Verification Code and click Verify Phone Number',
            'Your phone number is verified now',
        ]
    ol
        li Login to your account on 
            a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                span app.payplux.com   
                i.material-icons.ml-12.text-size-16 launch 
                //- i.material-icons launch

        each tip in tips
            li=tip

            
